@*@page "/databinding"*@

@*
    -> create a <label> and <textbox> to demonstrate one-way/two-way databinding
    -> create a checkbox
    -> create a radio button
    -> create a select element DropDownList
*@

@using System.IO

<div>
    <label for="textbox">Title: &nbsp; </label>
    <input type="text" id="textbox" @bind-value="@books.FirstOrDefault().Title" @bind-value:event="oninput">
</div>

<div>
    <label>Two ways binding: &nbsp;</label>
    <span>@books.FirstOrDefault().Title</span>
</div>

<br />  

<div>
    <input type="checkbox" @onchange="CheckBoxisActiveChange"/> &nbsp;
    <span>@isActive</span>
</div>

<br />

<EditForm Model="book">
    <InputRadioGroup Name="Title" @bind-Value="book.Id">
        <b>Book: </b>
        <br />        
        @foreach(var item in books)
        {            
            <InputRadio Value="item.Id" />
                @(" " + item.Id)
            <br/>
        }
    </InputRadioGroup>
</EditForm>

<br />

<select style="width:25%">
    <option value="0"></option>
    @foreach(var item in books)
    {
        <option>@item.Title</option>
    }
</select>


@code{

    public List<Book> books;
    public Book book = new();       

    public bool isActive = true;

    protected override void OnInitialized()
    {
        books = new List<Book>()
    {
            new Book(){Id = 1, Title="Idila pe un turn", Author="Author 1"},
            new Book(){Id = 2, Title="Fratii Grim", Author="Author 2"},
            new Book(){Id = 3, Title="Morometii", Author="Author 3"},
            new Book(){Id = 4, Title="Enigma Otiliei", Author="Author 4"}
        };
    }

    public void CheckBoxisActiveChange()
    {
        isActive = !isActive;
    }

    public class Book
    {
        public int Id { get; set; }
        public string Title { get; set; }
        public string Author { get; set; }
        public string Description { get; set; }
    }
}