@page "/databinding/radiobutton"
@*Method 1*@
<div>
    <p>Item selected: @name</p>
    <input type="radio" name="NameGroup" value="1" @onclick="@(() => name = "Alex")" /> Alex
    <br />
    <input type="radio" name="NameGroup" value="2" @onclick="@(()=> name = "Alina")" /> Alina
</div>

<hr />

@*Method 2*@
@*Construim un enum
    Creem un Enum separat cu valori,
    creem un ForEach care cauta STATIC valorile din EnumNames,
    luam valorile din el <InputRadio> si le legam cu <InputRadioGroup> la Noul Enum creat (enumNames)*@

<div>
    <EditForm Model="enumNames">
        <p>Item selected: @enumNames</p>
        <InputRadioGroup @bind-Value="enumNames">
            @foreach (var item in (EnumNames[])Enum.GetValues(typeof(EnumNames)))
            {
                <InputRadio Value="item" />
                <span>@item</span><br />
            }
        </InputRadioGroup>
    </EditForm>
</div>

<hr />

@*Method 3*@
@*Cand vrem sa facem un Radio Button cu o List<Customer> din baza de date*@
@*
toate valorile din <InputRadio  Value="item.Name"/>  se stocheaza in
<InputRadioGroup @bind-Value="customer2.Name">
Item selected : customer2.Name
*@


@*Display Id*@

<div>
    <EditForm Model="customer">
        <p>Item selected: @customer.Id</p>
        <InputRadioGroup @bind-Value="customer.Id">
            @foreach (var item in customers)
            {
                <InputRadio Value="item.Id" />
                <span>@item.Name</span><br />
            }
        </InputRadioGroup>
    </EditForm>
</div>

@*Display Name*@

<div>
    <EditForm Model="customer2">
        <p>Item selected: @customer2.Name</p>
        <InputRadioGroup @bind-Value="customer2.Name">
            @foreach (var item in customers)
            {
                <InputRadio Value="item.Name" />
                <span>@item.Id</span><br />
            }
        </InputRadioGroup>
    </EditForm>
</div>

<br />
<hr />


@code{
    // Method 1
    private string name;


    // Method 2
    public enum EnumNames { Alex, Ion, Alina, Cristi, Alexandra }

    EnumNames enumNames = new();


    // Method 3

    public class Customer
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

    private List<Customer> customers = new()
    {
        new Customer() { Id = 1, Name = "Alex" },
        new Customer() { Id = 2, Name = "Alina" },
        new Customer() { Id = 3, Name = "Dumi" },
        new Customer() { Id = 4, Name = "Cristi" }
    };

    private Customer customer = new();
    private Customer customer2 = new();

}